/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 214, 219, 220;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 214, 219, 220;
    --background-rgb: 0, 0, 0;
  }
}

html {
  font-size: 10px;
}

* {
  box-sizing: border-box !important;
}

body,
.color-scheme {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
}

/* o que é '@layer'? */
/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
