@font-face {
  font-family: 'Josefin Sans';
  src: url('/src/assets/JosefinSans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pixel Emulator';
  src: url('/src/assets/pixelemulator.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Snes';
  src: url('/src/assets/SnesItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
